#footer {
    background: rgba(0, 0, 0, 0.4); 
    backdrop-filter: blur(10px); 
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding: 60px 0 30px 0;
    margin-top: 50px;
}

.first-info-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 30px;
}

.footer-contact-item,
.footer-social-links a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    gap: 8px;
    color: rgba(255, 255, 255, 0.6);
    transition: transform .3s, all .3s ease;
}
.first-info-footer img {
    width: 35px;
    height: auto;
}

.footer-social-links {
    display: flex;
    gap: 30px;
}

.footer-social-links a:hover {
    color: #fff;
    transform: scale(1.3);
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.3));
}

.footer-social-links a span {
    font-size: 13px;
    font-weight: 500;
}

.second-info-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 50px;
}

.footer-copy {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.4);
    margin-top: 20px;
}

.footer-copy span {
    color: rgba(255, 255, 255, 0.85);
    font-weight: 600;
    margin-left: 5px;
}

/* Media Queries */
@media (max-width: 1024px) {
    .footer-social-links a {
        margin-top: 20px;
    }

    .first-info-footer {
        flex-direction: column;
        gap: 35px;
    }
    .first-info-footer img {
        width: 25px;
    }

    .second-info-footer {
        flex-direction: column;
    }

    .footer-adjust ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
}
