#projects .subtitle{
    margin-top: -40px;
}

.info-projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-bottom: 100px;
    margin-top: 50px;
    padding: 20px;
}

.card-projects {
    position: relative;
    overflow: hidden;
    height: 250px;
    width: 100%;
    border-radius: 15px;
    transition: transform .3s;
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(5px); /* Desfoca levemente a imagem de fundo atrás do card */
    /* Borda branca sutil */
    border: 1px solid rgba(255, 255, 255, 0.15);  /* Sombra para destacar do fundo */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);  /* Brilhosutil para destacar a borda */
}

.card-projects:hover {
    border-color: rgba(255, 255, 255, 0.4); 
    box-shadow: 0 10px 25px rgba(255, 255, 255, 0.1);
    transform: scale(1.1);
}

.img-projects {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s;
    filter: brightness(0.3);
}

.info-cards-projects {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
    padding: 20px;
    transition: all .5s ease;
}

.card-projects:hover .info-cards-projects {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
    justify-content: center;
}

.info-cards-projects h3 {
    margin: 20px;
    font-size: 22px;
    font-weight: bold;
    background: linear-gradient(
        90deg,
        rgba(26, 127, 243, 1) 0%,
        rgba(107, 109, 214, 1) 20%,
        rgba(203, 36, 108, 1) 40%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline-block;
}

.info-cards-projects p {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.85);
}

.card-projects:hover h3,
.card-projects:hover p {
    display: none;
}

.card-projects .show-info {
    display: none;
    opacity: 0;
    transform: translateY(20px);
    transition: all .5s;
}

.card-projects:hover .show-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    transform: translateY(0);
}

.show-info a {
    display: flex;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 20px;
    background-color: #303030;
    color: rgba(255, 255, 255, 0.85);
    cursor: pointer;
    border: 2px solid #acacac;
    transition: .3s;
}

.description-projects {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.description-projects img{
    width: 50px;
    height: 50px;
}

.footer-projects {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 15px;
}

.btn-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 18px; 
    border-radius: 20px;
    color: #ffffffc1;
    text-decoration: none;
    font-size: 14px;
    border: 2px solid #acacac;
    transition: .3s;
    cursor: pointer;
    background-color: rgba(48, 48, 48, 0.5); /* 50% de transparência */
    backdrop-filter: blur(4px); /* Vidro nos botões também */
    border: 1px solid rgba(172, 172, 172, 0.4); /* Borda mais fina e suave */
}

.btn-projects img {
    width: 20px;
    height: 20px;
}

.btn-projects:hover {
    border: 2px solid #e50039;
    color: #ffffff;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(229, 0, 57, 0.2);
}

.url-projects,
.code-project {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Media Queries */
@media (max-width: 1024px) {
    .info-projects {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 30px;
    }

    .card-projects {
        width: 90%;
    }
}

@media (max-width: 600px) {

    .card-projects {
        height: auto;
        width: 100%;
        max-width: 400px;
        aspect-ratio: 16 / 10; /* coloca a proporção como 16:10 */
    }

    .img-project { 
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .info-cards-projects h3 {
        font-size: 15px;
    }

    .info-cards-projects p {
        font-size: 10px;
    }

    .description-projects img {
        width: 35px;
        height: 35px;
    }

    .description-projects {
        gap: 10px;
        margin-bottom: 20px;
    }

    .footer-projects {
        flex-direction: row;
        gap: 10px;
    }

    .btn-projects {
        padding: 6px 10px;
        font-size: 11px;
        gap: 6px;
        border: 1px solid rgba(172, 172, 172, 0.4);
        border-radius: 15px;
    }

    .btn-projects img {
        width: 14px;
        height: 14px;
    }

    .info-cards-projects h3 {
        font-size: 18px;
        margin: 10px;
    }
} 