#tecnologies .subtitle {
    margin-top: -40px;
}

.container-icons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    justify-items: center;
    align-items: center;
    margin: 60px 0;
}

.container-icons img {
    opacity: 0.7;
    transition: transform .5s;
}

.container-icons img:hover {
    opacity: 1;
    transform: scale(1.1);
    cursor: pointer;
}

/* Media Queries */
@media (max-width: 1024px) {
    #tecnologies .subtitle {
        margin-top: -20px;
    }
    
    .container-icons {
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        padding: 20px;
        margin: 30px 0 30px 0;
    }
}

@media (max-width: 768px) {
    .container-icons {
        grid-template-columns: repeat(3, auto);
        justify-content: center;
        justify-items: center;
        gap: 30px;
        margin: auto;
    }

    .container-icons img {
        width: 80%;
        height: auto;
    }
}

@media (max-width: 600px) {
    #tecnologies .subtitle {
        margin-top: -20px;
    }

    .container-icons {
        grid-template-columns: repeat(2, auto);
        gap: 15px;
    }

    .container-icons img {
        width: 70%;
    }
}