*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #000;
}

section {
  min-height: 100vh;
  padding: 80px 0;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 10px auto;
}

.header-section {
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
}

.title {
  font-size: 50px;
  font-weight: bold;
  color: #ffffffc1;
  margin-bottom: 30px;
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.subtitle {
  font-size: 28px;
  font-weight: normal;
  color: #888;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.subtitle::after {
  content: "";
  width: 180px;
  height: 1px;
  background-color: #ff0241;
}