  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  body {
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), /* Cor preta com 60% de opacidade */
    url('/img-bg.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  section {
    min-height: 100vh;
    padding: 80px 0;
  }

  img {
    max-width: 100%;
  }

  p {
    margin: 0;
    padding: 0;
  }

  .container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 10px auto;
  }

  .header-section {
    background: rgba(255, 255, 255, 0.05); /* Branco quase invisível */
    backdrop-filter: blur(10px); /* efeito de desfoque/vidro */
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 40px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
  }

  .title {
    font-weight: 700;
    color: #c4c4c4;
    font-size: 45px;
    margin-bottom: 30px;
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .subtitle {
    font-size: 23px;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .subtitle::after {
    content: "";
    width: 180px;
    height: 1px;
    background-color: #ff0241;
  }

  /* Media Querie */
  @media (max-width: 768px) {
    .header-section {
        padding: 20px; /* Reduz um pouco o padding interno no mobile */
    }

    .title {
        font-size: 30px;
        color: rgba(255, 255, 255, 0.85);
        text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    }

    .subtitle {
        font-size: 17px; /* Diminui a fonte do subtitle */
        color: rgba(255, 255, 255, 0.7); /* FORÇA mais opacidade (0.7 em vez de 0.4) */
    }

  }